SNOWFLAKE_ACCOUNT=kd29643.eu-west-1
SNOWFLAKE_USER=ZOE998998
SNOWFLAKE_PASSWORD=YOUR_PASSWORD_HERE
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH
SNOWFLAKE_DATABASE=RETAIL_ANALYTICS
SNOWFLAKE_SCHEMA=RAW